@font-face {
  font-family: "PP Neue Montreal";
  src: url("/projects/leonardo-berselli-portfolio/fonts/pp-neue-montreal/PPNeueMontreal-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/projects/leonardo-berselli-portfolio/fonts/pp-neue-montreal/PPNeueMontreal-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/projects/leonardo-berselli-portfolio/fonts/pp-neue-montreal/PPNeueMontreal-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/projects/leonardo-berselli-portfolio/fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/projects/leonardo-berselli-portfolio/fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Book.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/projects/leonardo-berselli-portfolio/fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.project-theme-leonardo-berselli-portfolio {
  --font-mono: "PP Neue Montreal Mono", monospace;
  --background: #0a0a0a;
  --neutral-dark: #262626;
  --neutral: #737373;
  --accent: #e5e5e5;
  --foreground: #f7f7f7;
  --destructive: #ef4444;
}

.project-theme-leonardo-berselli-portfolio .caption-lg {
  font-size: 11px;
  line-height: 1.5;
}

.project-theme-leonardo-berselli-portfolio .caption-sm {
  font-size: 10px;
  line-height: 1.5;
}

.project-theme-leonardo-berselli-portfolio .caption-micro {
  font-size: 9px;
  line-height: 1.5;
}
